[build.environment]
  NPM_FLAGS = "--version"
  NODE_VERSION = "16"
  
[build]
  publish = "dist"
  command = "npx pnpm install --frozen-lockfile --store=node_modules/.pnpm-store && npx pnpm run build"

[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"

[[headers]]
  for = "/assets/*"
  [headers.values]
    cache-control = '''
    max-age=31536000,
    immutable
    '''